@model IEnumerable<MahmoudClinic.Models.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portofolio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potrifolio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePicURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Vision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Potrifolio)
        </td>
        <td>
            <img src="~/Images/AboutImages/@item.ID.ToString()@item.ProfilePicURL" class="img-responsive" width="10%" height="10%" />
        </td>
        <td>
            <div class="dropdown">
                <a style="padding-left:0px" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog" />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "dropdown-item" })</li>
                    <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "dropdown-item" })</li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
